<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger ">
                      <h4 class="card-title ">Danh sách khóa học</h4>
                      <button type="button" class="btn btn-success ">Thêm mới</button>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Author
                                  </th>
                                  <th>
                                      Description
                                  </th>
                                  <th>Price</th>
                                  <th>imageUrl</th>
                                  
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>ssss</td>
                                      <td>aaaaa</td>
                                      <td>
                                        <a href="" routerLink="" style="font-size: 20px; margin-right: 10px;"><i class="fa fa-pencil-square-o"></i></a>
                                        <a href="" style="font-size: 20px;"><i class="fa fa-trash-o"></i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>