<div class="container-fluid container-footer">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <a class="d-block" href="https://apollo.edu.vn/tieng-anh-tre-em">
                    <img class="img-fluid js-lazy-image js-has-webp lazy-image-loaded" alt="Apollo English" data-src="/img/Apollo-English-logo-in-White-no-background.png" src="../../../../assets/img/Apollo-English-logo-ft.png" data-was-processed="true"><!-- <noscript><img src="/img/Apollo-English-logo-in-White-no-background.png" class="img-fluid js-lazy-image js-has-webp" alt="Apollo English" data-src="/img/Apollo-English-logo-in-White-no-background.png"  /></noscript>                 --></a>
            </div>
            <div class="col-lg-10 col-md-12">
                <div class="row">
                    <div class="col-md-3 mb-6">
                        <h3>Hệ Thống Chương Trình</h3>
                        <a class="d-block" href="https://apollo.edu.vn/tieng-anh-tre-em">Apollo Juniors</a>
                        <a class="d-block" href="https://apollo.edu.vn/tieng-anh-cho-nguoi-lon">Apollo 360</a>
                        <a class="d-block" href="https://apollo.edu.vn/teach/">Apollo Teachers</a>
                    </div>
                    <div class="col-md-3 pl-sm-10 mb-6">
                        <h3>apollo english</h3>
                        <a class="d-block" href="/gioi-thieu">Về chúng tôi</a>
                        <a class="d-block" href="/co-hoi-nghe-nghiep">Tuyển dụng</a>
                    </div>
                    <div class="col-md-3 mb-6">
                        <h3>theo dõi chúng tôi tại</h3>
                        <div class="d-flex flex-wrap">
                            <a href="https://www.facebook.com/ApolloEnglish.Junior/" class="font-i">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/apollo-english" class="font-i mx-4">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.youtube.com/user/ApolloEnglish" class="font-i">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="/trung-tam-tieng-anh" class="has-border text-center find-center">
                            <i class="fa fa-map-marker mr-1" aria-hidden="true"></i> Tìm trung tâm
                        </a>
                        <h3>hệ thống trung tâm</h3>
                        <div class="d-flex flex-wrap" style="padding-left: 20px;">
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-ho-chi-minh">
                                Hồ Chí Minh
                            </a>
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-ha-noi">
                                Hà Nội
                            </a>
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-da-nang">
                                Đà Nẵng
                            </a>
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-bien-hoa">
                                Biên Hòa
                            </a>
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-binh-duong">
                                Bình Dương
                            </a>
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-hai-phong">
                                Hải Phòng
                            </a>
                            <a class="w-50" href="/trung-tam-tieng-anh-tai-bac-ninh">
                                Bắc Ninh
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
