.container-footer{
	padding: 0 120px;
	background: #454b4f;
    color: #fff;
    padding-bottom: 1.875rem!important;
    padding-top: 1.875rem!important;
}

h3{
	font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.6;
}
a{
	font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
}

a.font-i {
    font-size: 22px;
    margin-bottom: 0;
}

a.has-border {
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: block;
    margin-bottom: 20px;
}