
<div class="card">
    <div class="card-header" style="font-size: 20px;">
        Danh sách các khóa học
    </div>
    <div class="card-body custom-padding">
        <div class="nav flex-column nav-pills">
            <a class="nav-link list-group-item-action" data-toggle="pill"
                style="cursor: pointer;"  routerLink="/"
                >Tiếng anh cho mẫu giáo</a>
            <a class="nav-link list-group-item-action" data-toggle="pill"
                style="cursor: pointer;"  routerLink="/"
                >Tiếng anh cho thiếu nhi</a>
            <a class="nav-link list-group-item-action" data-toggle="pill"
                style="cursor: pointer;"  routerLink="/"
                >Tiếng anh cho thiếu niên</a>
            <a class="nav-link list-group-item-action" data-toggle="pill"
                style="cursor: pointer;"  routerLink="/product"
                >IELTS</a>
        </div>
    </div>
</div>