.nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.card {
    margin: 20px !important;
    -webkit-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.6);
    border: 0px;
    border-radius:0px;

    animation-name: ComingInPrimaryCards;
    animation-duration: .25s;
}

.card-header {
    animation-name: ComingInPrimaryCards;
    animation-duration: .25s;
}

@keyframes ComingInPrimaryCards {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.card-header {
    background-color: rgba(0, 99, 65, 1);
    color: rgba(230, 230, 230, 1);
    background-size: cover;
    border-radius: 0px;
}

.sticky-top {
    top: 100px;
}

.card-body {
    padding: 0px;
    margin: 0px;
}

.card-body-text {
    padding: 8px;
    padding-bottom: 0px !important;
}

.card-fixed-style {
    height: 90%;
    -webkit-box-shadow: 0px 0px 35px -20px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 35px -20px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 35px -20px rgba(0,0,0,0.6);

    animation-name: ComingInSecondaryCards;
    animation-duration: .5s;
    backface-visibility: hidden;
    transition: all .2s ease;
}

.card-fixed-style:hover {
    -webkit-box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.6);
    transform: scale(1.02);
}

@keyframes ComingInSecondaryCards {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.card-img-top {
    border-radius: 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 130px;
    min-height: 130px;
    height: 140px;
}

.card-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    margin: 0 0 6px;
}

.btn {
	background-color: #209ad6; 
    color: rgba(230, 230, 230, 1);
    width: 100%;
	border-radius: 0px;
}

.btn:hover {
    color: #209ad6; 
    background-color: #fff;
}

.card-footer {
    margin: 0px;
    padding: 0px;
}

.custom-padding {
    padding: 5px !important;
}

.col {
    padding: 0px;
}

.row {
    margin: 0px;
}

.nav-link {
    border-radius: 0px;
    color: #242221;

    animation-name: ComingInSecondaryCards;
    animation-duration: .5s;

    backface-visibility: hidden;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.nav-link:hover {
    background-color: rgba(245, 245, 245);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.6);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.card-header {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.nav-pills > .active {
  background-color: rgba(0, 99, 65, 1);
  color: rgba(230, 230, 230, 1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}